<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navigation.ejs') %>
  <div class="about content">
    <h2>About Us</h2>
    <p>
    ReÓk is an IT consulting firm based in the United States. With a team of experienced professionals, we provide comprehensive IT solutions to businesses of all sizes. Our expertise lies in helping organizations optimize their technology infrastructure, enhance operational efficiency, and achieve their business goals.
    At ReÓk, we understand the unique challenges faced by businesses in today's digital landscape. That's why we offer tailored IT consulting services that align with your specific needs and objectives. Whether you require assistance with network security, cloud computing, data management, or software development, our team is dedicated to delivering innovative and reliable solutions that drive your success. Partner with ReÓk and let us empower your business with cutting-edge technology and strategic IT guidance.
    </p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>